/* body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(15, 15, 15);
    text-align: center;
} */

#count{
    display: block;
    font-size: 100px;   
    color: rgb(0, 0, 0);
    text-align: center  
}

#butncontainer{
    text-align: center;
}

.btn{
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: rgb(0, 55, 175);
    color: white;
    border: none;
}

.btn:hover{
    background-color: rgb(17, 3, 44);
}